@layer base {
  html {
    font-family: var(--font-family-base);
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-regular);
  }

  h1, h2, h3 {
    font-family: var(--font-family-heading);
    font-weight: var(--font-weight-bold);
  }
}